<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ریپول</title>
    <link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/pNotify/pnotify.custom.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/mdb.min.css" rel="stylesheet" />
    <link href="~/css/site.css?v=@(new Random().Next(100000,99999999))" rel="stylesheet" />
    <link href="~/lib/animate/animate.css" rel="stylesheet" />

    <script src="~/lib/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/lib/knockout/knockout-3.4.2.js"></script>
    <script src="~/lib/knockout/knockout.customs.js"></script>
    <script src="~/lib/pNotify/pnotify.custom.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/notification.js"></script>
    <script src="~/lib/bootstrap/mdb.min.js"></script>
    <script src="~/lib/bodyscroll/bodyscroll.js"></script>
</head>
<body>
    <div id="wrapper">

        <div id="sidebar-wrapper" class="close-in-small">
            <div id="menu_toggle_btn"><i class="fa fa-bars"></i></div>
            <div id="logo_box" >
                <img class="sidebar-logo" src="~/images/logo.svg" />
            </div>
            <div style="display: flex;">
                <ul class="sidebar-nav">
                    <li><a href="@Url.Action("Index","TransactionHistory")"><i class="fa fa-exchange-alt"></i> تاریخچه تراکنش ها</a></li>
                    <li><a href="@Url.Action("Index","PersonalPortal")"><i class="fa fa-cubes"></i> درگاه های شخصی</a></li>
                    <li><a href="@Url.Action("Index","DestinationPortals")"><i class="fa fa-database"></i> درگاه های مقصد</a></li>
                    <li><a href="@Url.Action("Index","BankAccounts")"><i class="fa fa-credit-card"></i> حساب های بانکی</a></li>
                    <li><a href="@Url.Action("Index","ChargeAccount")"><i class="fa fa-battery"></i> شارژ حساب</a></li>
                    <li><a href="@Url.Action("Index","Profile")"><i class="fa fa-user"></i> پروفایل</a></li>
                    <li><a href="@Url.Action("Index","Setting")"><i class="fa fa-cog"></i> تنظیمات</a></li>
                </ul>
            </div>
            
        </div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div id="paging_box">
                <div class="head-title-box">
                    <div class="addr-title">
                        @*@ViewData["Title"]*@
                    </div>
                    <div class="head-tool-box">
                    </div>
                </div>
                <div class="container-fluid">

                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @*<script src="~/lib/apprun/apprun-html.js"></script>*@
    <script src="~/js/site.js?v=@(new Random().Next(100000,99999999))"></script>


</body>
</html>
